/* Spinner de chargement */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Caché par défaut */
    z-index: 1000;
}

.spinner {
    width: 200px;
    height: 200px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animation sur le div */
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}