/* CSS Navigation */
.main-navigation {
    background-color: #3498db; 
    color: white;
    padding: 10px;
  }
  
  .main-navigation a {
    padding: 0 15px; /* Ajoute du padding autour des liens */
  }

  .main-navigation a.pagecourante {
      font-weight: bold;
      text-decoration: underline;
      color: red;
    }

  .main-navigation a:hover{
    background-color: tomato;
  }
