/* CSS Navigation */
.main-navigation {
    background-color: #3498db; 
    color: white;
    padding: 10px;
  }
  
  .main-navigation a {
    color: white; /* Change l
    text-decoration: none; /* Enlève le soulignement des liens */
    padding: 0 15px; /* Ajoute du padding autour des liens */
  }