/* Liste de produit */
ul#product-list {
    list-style-type: none;
    padding: 0;
  }
  
  ul#product-list li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
  }
  
  ul#product-list h2 {
    margin: 0 0 10px;
  }
  
  ul#product-list p {
    margin: 5px 0;
  }

  /* Grille de produits */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none; /*Retrait des puces */
  }
  
  .product-grid li {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
  }
  .product-grid li.highlight {
    border: 2px solid #007BFF; /* Bordure bleue pour mettre en évidence */
    background-color: #e7f3ff; /* Couleur de fond pour mettre en évidence */
  }
  
  .product-grid img {
    max-width: 100%;
    height: auto;
  }
  
  /* Section aside pour les détails du produit */
  .product-detail {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }



/* Bouton */
.sort-buttons {
    margin-bottom: 20px;
  }
  
  .sort-buttons button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
  }

  /* ======== */
.bouton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: tomato;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 350ms;
  box-shadow: none;
  outline: none;
  border: none;
}

.bouton:hover {
  background-color: color-mix(in oklab, tomato, black 10%);
  transform: scale(1.05);
  text-decoration: underline;
}