/* Styles pour le thème clair (par défaut) */
body[data-theme="light"] {
    background-color: white;
    color: black;
  }
  
  body[data-theme="light"] > .main-content{
    background-color: white;
    color: black;
  }
  
  body[data-theme="dark"] > .sidebar{
    background-color: white;
    color: black;
  }
  
  /* Styles pour le thème sombre */
  body[data-theme="dark"] {
    background-color: #121212;
    color: white;
  }
  
  body[data-theme="dark"] > .main-content{
    background-color: #121212;
    color: white;
  }
  
  body[data-theme="dark"] > .sidebar{
    background-color: #121212;
    color: white;
  }