@import url(../css/stylesbasis/produits.css);
@import url(../css/stylesbasis/navigation.css);
@import url(../css/stylesbasis/formulaire.css);
@import url(../css/publicite/carrousel.css);
@import url(../css/publicite/publicite.css);

  /* Styles de base pour la page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Conteneur principal avec Flexbox */
  .container {
    display: flex;
    height: 100vh; /* Hauteur de la fenêtre */
  }
  
  /* Sidebar (1/4 de la largeur) */
  .sidebar {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
/* Contenu principal (3/4 de la largeur) */
.main-content {
    flex: 3;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

/* Styles pour le thème clair (par défaut) */
body[data-theme="light"] {
  background-color: white;
  color: black;
}

body[data-theme="light"] > .main-content{
  background-color: white;
  color: black;
}

body[data-theme="dark"] > .sidebar{
  background-color: white;
  color: black;
}

/* Styles pour le thème sombre */
body[data-theme="dark"] {
  background-color: #121212;
  color: white;
}

body[data-theme="dark"] > .main-content{
  background-color: #121212;
  color: white;
}

body[data-theme="dark"] > .sidebar{
  background-color: #121212;
  color: white;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

/* Style pour le bouton de basculement */
button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagecourante {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}