.paragraph-hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.paragraph-visible {
    opacity: 1;
    transform: translateY(0); 
}

.titre a:hover{
    transform: scale(1.2);
    font-size: 1.5em;
}