.paragraph-hidden {
    display: none;
    opacity: 0;
    color: white;
}


.paragraph-visible {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.titre:hover{
    transform: scale(1.2);
    font-size: 1.5em;
}